.header {
  background-color: light-blue;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.paragraph {
  background-color: yellow;
  color: black;
}
.cart {
  background-color: red;
  color: yellow;
}
